@charset "UTF-8";

/* Sticky footer styles */

html {
	position: relative;
	min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

/* fa, fab: "FontAwesome", "FontAwesomeBold" */
/* From: fontawesome's "all.css". See: ./include.html */
.fa,
.fab {
	padding-right: 5px; /* Space between a fontawesome's icon and text. */
}

footer {
	margin-top: 1rem;
	padding: 1rem;
}